

/*-----------------------------------------------------------------------------------*/
/*	1.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color:#fff;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

input,textarea {
	font-size:12px;
	line-height:20px;
	font:inherit;
	resize:none;
}

[placeholder]:active,
[placeholder]:focus{
	cursor:text;
	color:#bfbfbf;
	font-family: 'Museo500', Museo500, Helvetica, Arial, sans-serif;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Document Setup (body, common classes, structure etc)
/*-----------------------------------------------------------------------------------*/

/* Museo Font - http://www.fontspring.com/fonts/exljbris/museo#fontface_license */
@font-face {
    font-family: 'Museo300';
    src: url('fonts/museo/Museo300-Regular-webfont.eot');
    src: url('fonts/museo/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/Museo300-Regular-webfont.woff') format('woff'),
         url('fonts/museo/Museo300-Regular-webfont.ttf') format('truetype'),
         url('fonts/museo/Museo300-Regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500';
    src: url('fonts/museo/Museo500-Regular-webfont.eot');
    src: url('fonts/museo/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/Museo500-Regular-webfont.woff') format('woff'),
         url('fonts/museo/Museo500-Regular-webfont.ttf') format('truetype'),
         url('fonts/museo/Museo500-Regular-webfont.svg#Museo500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700';
    src: url('fonts/museo/Museo700-Regular-webfont.eot');
    src: url('fonts/museo/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/Museo700-Regular-webfont.woff') format('woff'),
         url('fonts/museo/Museo700-Regular-webfont.ttf') format('truetype'),
         url('fonts/museo/Museo700-Regular-webfont.svg#Museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font: 12px/20px 'Museo500', Museo500, Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	color:#bfbfbf;
	background:#222;
}


#wrapper {
	width: 100%;
	height:100%;
	overflow: hidden;
	position: fixed;
	text-align:center;
	background:url(images/patterns/pat6.png) repeat scroll 0 0;
	z-index:10;
}

a.logo {
	text-align: center;
	display: block;
	margin-top:7px;
}

h1 {
	font-size:14px;
	text-align:center;
	margin:20px 0;
}

h1 span {
	background:#000;
	padding:7px 10px;
}

h2 {
	font-size:18px;
	line-height:24px;
	margin-bottom:10px;
	color:#fff;
}

h3 {
	color:#fff;
	font-size:14px;
	margin-bottom:5px;
}

#container {
	width:535px;
	position:relative;
	background:url(images/container-bg.png) repeat scroll 0 0;
	overflow:hidden;
	display:inline-block;
	top:100px;
	z-index:1000;
}

#totoggle {
	position:relative;
}

#infopage, #contactpage {
	display:none;
	position:relative;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.content {
	padding:10px 30px;
	text-align:left;
}
.content p {
	margin-bottom:10px;
}

.one-half { 
	width: 48%; 
}

.one-half  {
	position: relative;
	margin-right: 4%;
	float: left;
}

.last {
	margin-right: 0!important;
	clear: right;
}

.clear {
	clear:both;
}

.separator {
	width: 100%;
	height: 1px;
	border-top: 1px dotted #BFBFBF;
	clear: both;
	padding-bottom: 15px;
}

.text {
	position:absolute;
	top:0;
	left:20px;
	height:31px;
	line-height:31px;
}

.top-buttons {
	position:relative;
	height:31px;
	width:100%;
}
.buttons {
	position:relative;
	height:31px;
	width:100%;
}
.buttons a, .top-buttons a {
	opacity:0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);	
    display: block;
	position:absolute;
	width:31px;
	height:31px;
	cursor:pointer;
	text-indent:-9999px;
}

a.trigger {
	background:url(images/toggle-minus.png) no-repeat scroll 0 0;
	top:0;
	right:0;
}

a.active {
    background:url(images/toggle-plus.png) no-repeat scroll 0 0;
}

a.drag {
	background:url(images/drag.png) no-repeat scroll 0 0;
	top:0;
	right:32px;
}

a.contact, a.infocontact {
	background:url(images/contact.png) no-repeat scroll 0 0;
	bottom:0;
	right:0;
}
a.info, a.contactinfo {
	background:url(images/info.png) no-repeat scroll 0 0;
	bottom:0;
	right:32px;
}

/*-----------------------------------------------------------------------------------*/
/*	3.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

/* 3.1 Countdown */

#countdown {
	float:left;
	padding:0;
	position:relative;
	width:400px;
	margin-left:70px;
}

.hasCountdown {
	height:70px;
	margin-bottom:40px;
	margin-top:20px;
}

.item {
	float:left;
	text-align:center;
	margin:0 15px;
	width:67px;
	height:67px;
	position:relative;
	background:url(images/countdown-item.png) no-repeat scroll 0 0;
}

.item span {
	font-size:14px;
	clear:both;
	color:#fff;
	width:85px;
	height:20px;
	display:inline-block;
	text-transform:lowercase;
}

.item p {
	text-align:center;
	margin:13px 0 5px;
	font-size:24px;
}


/* 3.2. Contact Form & Subscribe Form */

#subscribe {
	clear:both;
}

.error_message {
	margin-bottom:10px;
	text-align:center;
}

#subscribeform {
	margin-bottom:10px;
	width:380px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	position:relative;
}

#contactform {
	overflow:hidden;
	position:relative;	
}

#contactform input[type="text"] {
	background:url(images/bg-form.png) repeat scroll 0 0;
	width:90%;
	height:15px;
	border:0 none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5%;
	padding-right:5%;
	float:left;
	color:#bfbfbf;
	margin-bottom:5px;
}

#contactform textarea {
	background:url(images/bg-form.png) repeat scroll 0 0;
	width:90%;
	height:100px;
	border:0 none;
	padding:5%;
	float:left;
	color:#bfbfbf;
	margin-bottom:5px;	
}

#subscribeform input#subemail {
	background:url(images/bg-form.png) repeat scroll 0 0;
	width:265px;
	height:15px;
	border:0 none;
	padding:10px;
	float:left;
	color:#bfbfbf;
}

input[type="submit"] {
	border:0 none;
	color:#fff;
	height:35px;
	width:70px;
	float:right;
	cursor:pointer;
	-webkit-transition:background 0.2s linear; 
	-moz-transition:background 0.2s linear;
	-0-transition:background 0.2s linear;
	transition:background 0.2s linear;	
}

.cf {
	margin-bottom:30px;
}
.contact-loader {
	position:relative;
	float: right;
	margin-top: 13px;	
	margin-right:10px;
}

#subscribeform input#subsubmit {
	height:35px;
	width:95px;
	float:left;
}	

#subscribeform .subscribe-loader {
	position:absolute;
	top:12px;
	right:103px;
}

/* 3.3. Social Links */

#social {
	position:absolute;
	left:120px;
}
#social h4 {
	position:absolute;
	left:-100px;
	height:31px;
	line-height:31px;
	width:90px;
}
#social ul li {
	display:inline;
	float:left;
	margin-right:1px;
	text-align:center;
	-webkit-transition:background 0.2s linear; 
	-moz-transition:background 0.2s linear;
	-0-transition:background 0.2s linear;
	transition:background 0.2s linear;
}
#social ul li img {
	padding-top:9px;
}
#social ul li a {
	width:31px;
	height:31px;
	display:block;
}


/* 3.4. Full Screen Slider - http://buildinternet.com/project/supersized/ */

#supersized-loader {
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 0;
    width: 31px;
    height: 31px;
    margin: -16px 0 0 -16px;
    text-indent: -999em;
    background: url(images/progress.gif) no-repeat center center;
}

#supersized {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
    height: 100%;
    width: 100%;
}

#supersized img {
    width: auto;
    height: auto;
    position: relative;
    display: none;
    outline: none;
    border: none;
}

#supersized.speed img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
} /*Speed*/

#supersized.quality img {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
} /*Quality*/

#supersized li {
    display: block;
    list-style: none;
    z-index: -30;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#supersized a {
    width: 100%;
    height: 100%;
    display: block;
}

#supersized li.prevslide { z-index: -20 }

#supersized li.activeslide { z-index: -10 }

#supersized li.image-loading {
    background: #111 url(images/progress.gif) no-repeat center center;
    width: 100%;
    height: 100%;
}

#supersized li.image-loading img { visibility: hidden }

#supersized li.prevslide img, #supersized li.activeslide img { display: inline }

#controls-wrapper {
    margin: 0 auto;
    height: 31px;
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: 4;
    background: url(images/bg-form.png) repeat;
    position: fixed;
}

#controls {
    overflow: hidden;
    height: 100%;
    position: relative;
    text-align: left;
    z-index: 5;
}

#slidecounter {
    float: left;
    color: #999;
    font: 12px;
    text-shadow: #000 0 -1px 0;
    margin: 0px 10px 0 15px;
    line-height: 31px;
}

#slidecaption {
    overflow: hidden;
    float: left;
    color: #FFF;
    font: 400 12px;
    text-shadow: #000 1px 1px 2px;
    margin: 0 20px 0 0;
    line-height: 31px;
}

#navigation {
    float: right;
    margin: 0px 20px 0 0;
}

#play-button { 
	float: left; 	
}

#prevslide, #nextslide {
    position: relative;
}

ul#slide-list {
    padding: 15px 0;
    float: left;
    position: absolute;
    left: 50%;
}

ul#slide-list li {
    list-style: none;
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 5px 0 0;
}

ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover { 
	background-position: 0 0px 
}

ul#slide-list li a {
    display: block;
    width: 12px;
    height: 12px;
    background: url('images/nav-dot.png') no-repeat 0 -24px;
}

ul#slide-list li a:hover {
    background-position: 0 -12px;
    cursor: pointer;
}

#tray-button {
    position: absolute;
    bottom: 0;
    right: 10px;
	width: 31px;
	height: 31px;
	-webkit-transition:background 0.2s linear; 
	-moz-transition:background 0.2s linear;
	-0-transition:background 0.2s linear;
	transition:background 0.2s linear;
	margin-right:1px;
}

#tray-button:hover {
    background-position: 0 1px;
    cursor: pointer;
}

/* Slider Progress Bar
    ----------------------------*/
#progress-back {
    z-index: 5;
    position: fixed;
    bottom: 31px;
    left: 0;
    height: 3px;
    width: 100%;
    background: url('images/progress-back.png') repeat-x;
}

#progress-bar {
    position: relative;
    height: 3px;
    width: 100%;
}

/* Thumbnail Navigation
    ----------------------------*/
.centered-controls {
	width:117px;
	height:31px;
	margin:0 auto;
}

.centered-controls a {
    height: 31px;
    width: 31px;
    float: left;
	-webkit-transition:background 0.2s linear; 
	-moz-transition:background 0.2s linear;
	-0-transition:background 0.2s linear;
	transition:background 0.2s linear;
	margin-right:1px;
}

.centered-controls a:hover {
	cursor:pointer;
}	

#nextthumb, #prevthumb {
    z-index: 2;
    display: none;
    position: fixed;
    bottom: 61px;
    height: 75px;
    width: 100px;
    overflow: hidden;
    background: #ddd;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 5px #000;
}

#nextthumb { right: 12px }

#prevthumb { left: 12px }

#nextthumb img, #prevthumb img {
    width: 150px;
    height: auto;
}

#nextthumb:active, #prevthumb:active { bottom: 59px }

#nextthumb:hover, #prevthumb:hover { cursor: pointer }


/* Thumbnail Tray
    ----------------------------*/
	
#thumb-tray {
    position: fixed;
    nowhitespace: afterproperty;
    z-index: 3;
    bottom: 0;
    left: 0;
	height:126px; 
	width:100%; 
	overflow:hidden; 
	text-align:center;
}

#thumb-back, #thumb-forward {
    position: absolute;
    z-index: 5;
    bottom: 52px;
    height: 70px;
    width: 40px;
}

#thumb-back {
    left: 0;
    background: url('images/thumb-back.png') no-repeat center center;
}

#thumb-forward {
    right: 0;
    background: url('images/thumb-forward.png') no-repeat center center;
}

#thumb-back:hover, #thumb-forward:hover {
    cursor: pointer;
    background-color: rgba(256,256,256, 0.1);
}

#thumb-back:hover { border-right: 1px solid rgba(256,256,256, 0.2) }

#thumb-forward:hover { border-left: 1px solid rgba(256,256,256, 0.2) }

ul#thumb-list {
    display: inline-block;
    list-style: none;
    position: relative;
    left: 0px;
    padding: 4px 2px;
	background:url(images/container-bg.png) repeat scroll 0 0;
}

ul#thumb-list li {
    list-style: none;
    display: inline;
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left;
	padding:0 2px;
}

ul#thumb-list li img {
    width: 70px;
    height: auto;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

ul#thumb-list li.current-thumb img, ul#thumb-list li:hover img {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

ul#thumb-list li:hover { 
	cursor: pointer 
}